ion-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: ;
}
.parallaxImage{
    margin: 0%;
    display: flex;
    height: 15vh;
    border: solid 4px black;
}