ion-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 3;
}
.parallaxImage{
    display: flex;
    height: 20vh;
    border: solid 4px black;
}