.prixdetail{
    display: flex;
    // justify-content: space-between;
}
.parallaxximage{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 25vh;
}
.main{
    width: 100%;
    position: absolute;
}
.buttoneicone{
    display: flex;
    margin-top: 40px;
}
.rowsole{
    margin-left:0%;
    width: 100px;
    height: 100px;
}
